node_modules/
dist/
build/
*.log
*.tmp
.cache
.nyc_output
.DS_Store
.env
.env.development
.env.production
.vscode/
.idea/
.project
coverage/
__tests__/.cache
*.test.*
*.spec.*
.gitattributes
.gitmodules
package-lock.json
yarn.lock
db_backups/
*.sql
```